<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<!-- factory for sending and retrieving data from the server -->
<script src="pages/orderData/scripts/main.js"></script>
<script src="pages/menuData/scripts/getMenu.js">
</script>
<link rel=stylesheet href="pages/orderData/stylesheets/main.css">
</head>
<body ng-app=orderApp>
<div ng-controller=orderController>
	<!-- Loading Screen -->
	<div class=loading ng-show="{{ stage === 0 }}">
		<p>Loading...</p>
	</div>
	<!-- View + Select Restaurant -->
	<div class=restaurantSelect ng-show="{{ stage === 1 }}">
		<h2>Restaurant List</h2>
		<div ng-repeat="restaurant in restaurantList">
			<span ng-click="selectRestaurant(restaurant)">{{ restaurant.name }}</span>:
			<span> {{ getStars(restaurant.reviews) }}/5 Stars</span>
		</div>
	</div>
	<!-- View + Select items from menu -->
	<div class=menuSelect ng-show="{{ stage === 1 }}">
		<h2> {{ restaurant.name }} </h2>
		<div ng-repeat="item in restaurant.menu">
			<button ng-click="addToOrder(item)">Add to Order</button><span> {{ item.price | currency }} {{ item.name }} - {{ item.description }} </span>
		</div><br>
	</div>
	<!-- View Order -->
	<div class=orderView ng-show="{{ stage === 1 }}">
		<h3>Current Order</h3>
		<div ng-repeat="item in order">
			<button ng-click="removeFromOrder(item)">Remove from Order</button><span> {{ item.quantity }} {{ item.price | currency }} {{ item.name }} - {{ item.description }} </span>
		</div><br>
		</div>
		<h4>Your total is: {{ getTotal() | currency }}</h4>
		
	</div>
	<!-- Submit -->
	<div class=submission ng-show="{{ stage === 1 }}">
	</div>
</div>
</body>
</html>