<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database Configuration -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">celt</property>
		<!-- <property name="hibernate.connection.url">jdbc:oracle:thin:@restaurant.cxyz3up19zfl.us-west-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">CELT</property> -->
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

	
	<!-- Test purposes only <property name="hibernate.hbm2ddl.auto">create</property> -->
		
		<!-- We have to tell hibernate where our classes it maps are -->
		<mapping class="com.revature.beans.ContactInfo"/>
		<mapping class="com.revature.beans.Customer"/>
		<mapping class="com.revature.beans.FoodItem"/>
		<mapping class="com.revature.beans.Invoice"/>
		<mapping class="com.revature.beans.InvoiceItem"/>
		<mapping class="com.revature.beans.Manager"/>
		<mapping class="com.revature.beans.Restaurant"/>
		<mapping class="com.revature.beans.Review"/>
		<mapping class="com.revature.beans.User"/>
	</session-factory>
</hibernate-configuration>
